@import "~react-toolbox/lib/globals";

.layout {
  overflow: visible;

  .navDrawer {
    .drawerContent {
      background-color: #222;
      border-right: none;
      position: fixed;
    }
  }

  .panel {
    position: relative;
    display: block;
    overflow: visible;
    width: 100%;
  }
}

.appBar {
  padding: 0 1.6rem;
  position: fixed;
  left: 0;
  right: 0;

  @media screen and (min-width: $layout-breakpoint-lg) {
    left: 32rem;
  }

  @media screen and (max-width: $layout-breakpoint-xxs) and (orientation: portrait) {
    height: 6.4rem;
  }

  @media screen and (max-width: $layout-breakpoint-xs) and (orientation: landscape) {
    height: 6.4rem;
  }
}

.toggle {
  height: 4.1rem;
  width: 4.1rem;
  position: absolute;
  top: 1.1rem;
  left: 1.1rem;

  @media screen and (min-width: $layout-breakpoint-lg) {
    visibility: hidden;
  }

  .icon {
    font-size: 2.4rem;
  }
}
