.backdrop {
  height: 600px;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.9;
  top: -50px;
}

.firstCard {
  margin: auto;
  max-width: 1000px;
  top: -200px;
}

@media (max-width: 800px) {
  .backdrop {
    height: 400px;
  }
}
@media (max-width: 600px) {
  .backdrop {
    height: 300px;
  }
}
