.ribbon {
  width: 100%;
  background-color: #5e35b1;
}

.ribbonContainer {
  box-sizing: border-box;
  display: flex;
  margin: auto;
  max-width: 1000px;
  padding: 2rem;
  color: white;

  .title {
    font-size: 2rem;
    font-weight: 500;
  }

  .year {
    font-size: 1.8rem;
    font-weight: 400;
  }

  .genres, .runtime {
    font-size: 1.4rem;
    font-weight: 400;
    display: block;
    color: rgba(255,255,255,0.6);
  }
}

.ribbonContainerLeft {
  width: 30%;
  position: relative;
  box-sizing: border-box;
  margin-right: 2rem;
}

.ribbonContainerRight {
  width: 70%;
}

.poster {
  width: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0;

  &.loaded {
    opacity: 1;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
  }
}
