.ribbon {
  background-color: red;
  position: relative;
}

.ribbonContainer {
  box-sizing: border-box;
  display: flex;
  margin: auto;
  max-width: 1000px;
  padding: 1.6rem 1.6rem 1.6rem 1.6rem;
  color: white;

  .title {
    font-size: 2rem;
    font-weight: 500;
  }

  .year {
    font-size: 1.8rem;
    font-weight: 400;
  }

  .genres, .runtime {
    font-size: 1.4rem;
    font-weight: 400;
    display: block;
    color: rgba(255,255,255,0.6);
  }
}

.ribbonContainerLeft {
  width: 30%;
  position: relative;
}

.ribbonContainerRight {
  box-sizing: border-box;
  padding-left: 1.6rem;
  width: 70%;
}

.poster {
  width: 100%;
  position: absolute;
  bottom: 0;
}
