@import "~react-toolbox/lib/colors";


$color-primary: $palette-deep-purple-500;
$color-primary-dark: $palette-deep-purple-600;
$color-accent: $palette-amber-500;
$color-accent-dark: $palette-amber-700;
