@import "~react-toolbox/lib/colors";

$color-background: $palette-grey-900;
$color-text: $palette-grey-900;
$color-text-secondary: $palette-grey-900;

$color-primary: $palette-deep-purple-300;
$color-primary-dark: $palette-deep-purple-500;
$color-accent: $palette-amber-500;
$color-accent-dark: $palette-amber-700;
