@import "~react-toolbox/lib/colors";


$color-primary: $palette-deep-purple-500;
$color-primary-dark: $palette-deep-purple-600;
$color-accent: $palette-amber-500;
$color-accent-dark: $palette-amber-700;

$color-text: $palette-grey-400 !default;
$color-text-secondary: $palette-grey-500 !default;

$list-item-hover-color: $palette-grey-800;
$color-divider: $palette-grey-700;
